<!-- app/templates/admin/veiculos/veiculo.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_veiculo %}
        Add Veiculo
    {% else %}
        Edit Veiculo
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_veiculo %}
                <h1>Adiciona Veiculo</h1>
            {% else %}
                <h1>Edita Veiculo</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
